<div class="row" hidden="true" id="errorMessage">
  <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
</div>

<div class="row">
  <div class="input-field col s12">
      <i class="material-icons prefix">account_circle</i>
      <input type="text" id="userName" [(ngModel)]="user.userName" name="userName" required (keyup)="onkeypress()" (keydown)="onkeypress()"/>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
      <i class="material-icons prefix">vpn_key</i>
      <input type="password" id="password" [(ngModel)]="user.password" name="password" required minlength="7" (keyup)="onkeypress()" (keydown)="onkeypress()"/>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <button  id='loginButtonId' [disabled]="buttonIsDisabled" class="btn-large btn-submit" (click)="OnLoginSubmit()" type="submit">Submit</button>
  </div>
</div>


